cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
firebase-admin==6.7.0
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3 # google-cloud-vision の依存関係
google-cloud-firestore==2.20.1 # Firestore を直接使っている場合 (今回は使っていないが念のため)
google-cloud-vision==3.10.1
googleapis-common-protos==1.69.2
grpcio==1.72.0rc1
idna==3.10
numpy==1.26.4
openai==1.70.0
pandas==2.2.3
pillow==10.4.0
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.2
PyJWT==2.10.1 # streamlit-firebase-auth の依存関係の可能性
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.1
requests==2.32.3
rsa==4.9
six==1.17.0
streamlit==1.40.1
streamlit-firebase-auth==1.0.5
typing_extensions==4.13.0
urllib3==2.3.0